$white: #fff;

$grey1: #f3f3f3;
$grey2: #e5e7e8;


$blue1: #0056d2;
$blue2: #0046aa;



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    min-height: 100%;
}

.full {
    width: 100%;
}