@import "../utilities/root.scss";

.btn {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border-radius: 4px;

    &.btn-sm {
        padding: 0.5rem 0.7rem
    }
    &.btn-brand {
        color: $white !important;
        background-color: $blue1;
        &:hover {
            color: $white;
            background-color: $blue2;
        }
    }
    &:focus {
        outline: 2px solid $blue2;
        outline-offset: 2px;
    }
}
