
@import "../utilities/root.scss";

form label {
	font-size: 1rem;
    color: #1d1c1c;
    cursor: pointer;
}


form input[type=text],form input[type=email] {
    padding: 0.7rem 1rem;
    width: 100%;
    outline: none;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 1rem;
}

form input[type=text]:focus,form input[type=email]:focus,
form input[type=password]:focus {
    outline: 2px solid $blue1;
    outline-offset: 2px;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 1.1rem;
}
[type=checkbox]:focus, [type=radio]:focus {
    outline-color: $blue1;
    outline-offset: 2px;
}


input[type=submit] {
	padding:15px 50px;
	width:auto;
	background:#1abc9c;
	border:none;
	color:white;
	cursor:pointer;
	display:inline-block;
	float:right;
	clear:right;
	-webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=submit]:hover {
	opacity:0.8;
}

input[type="submit"]:active {
	opacity:0.4;
}

.forgot,
.register {
	margin:10px;
	float:left;
	clear:left;
	display:inline-block;
	color:cornflowerblue;
	text-decoration:none;
}

.forgot:hover,
.register:hover {
	color:darkgray;
}
.fieldset {
    padding: 0.35em 0.75em 0.625em;
    background: #fcfcfc;
    border: 0;
    border-radius: 4px;
    border: 1px solid #dadada;
    padding: 1rem;

    // legend {
    //     display: none;
    // }
    legend {
        font-size: 1rem;
        font-weight: 400;
        font-weight: 500;
    }

}
.inner-fieldset {
    padding: 0.35em 0.75em 0.625em;
    background: #ffffff;
    border: 0;
    border-radius: 4px;
    border: 1px solid #dadada;
    padding: 0.5rem;
    margin-bottom: 1rem;
    legend {
        text-align: left;
    }
}
.radio-button {
    display: flex;
    gap: 0.4rem;
}
.checkbox {
    display: flex;
    gap: 0.5rem;
}
.radio-button-container {
    display: flex;
    gap: 1rem;
}
input[type=date] {
    height: 35px;
    padding: 0 1rem;
    display: block;
    width: 88%;
    border: 1px solid #dadada;
    border-radius: 4px;
    font-size: 1rem;
}